@model MinimalMVC2017.Models.CalcViewModel

<h2>Calculation Input and Results</h2>

@using (Html.BeginForm("Process", "Calc", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        Number 1: 
        @Html.DisplayFor(model => model.Number1)
        <br />
        Number 2: 
        @Html.DisplayFor(model => model.Number2)
        <br />
        Operation: 
        @Html.DisplayFor(model => model.Operation)
        <br />
        Result:
        @Html.DisplayFor(model => model.Result)
        <br />        
        Odd/Even Results:
        @Html.DisplayTextFor(model => model.boolResult1)
        @Html.DisplayTextFor(model => model.boolResult2)
        <br />
        @Html.ActionLink("Back to Calc", "Index")

    </div>
}

